<div class="container-fluid" *ngIf="!isLoading">
  <!-- breadCrums -->
  <app-page-title
    [title]="trustInfo.TrustName"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="card-box">
    <ngb-tabset #tabs justify="justified" type="pills">
      <ngb-tab title="Basic Details" class="nav-item" id="details">
        <ng-template ngbTabContent class="nav-item">
          <app-trust-basic-details [trustID]="trustID"></app-trust-basic-details
        ></ng-template>
      </ngb-tab>
      <ngb-tab title="Properties" class="nav-item" id="property">
        <ng-template ngbTabContent class="nav-item"
          ><app-trust-properties [trustID]="trustID"></app-trust-properties>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Meeting" class="nav-item" id="meeting">
        <ng-template ngbTabContent class="nav-item">
          <div class="row">
            <div class="col-md-8">
              <app-view-meeting
                [trustID]="trustID"
                [refresh]="meeting"
              ></app-view-meeting>
            </div>
            <div class="col-md-4">
              <app-addmeeting
                [trustID]="trustID"
                (reFresh)="refreshmeeting()"
              ></app-addmeeting>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Fund" class="nav-item" id="fund">
        <ng-template ngbTabContent class="nav-item">
          <div class="row">
            <div class="col-md-8">
              <app-view-fund
                [trustID]="trustID"
                [refresh]="fund"
              ></app-view-fund>
            </div>
            <div class="col-md-4">
              <app-addfund
                [trustID]="trustID"
                (reFresh)="refreshfund()"
              ></app-addfund>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Audit" class="nav-item" id="audit">
        <ng-template ngbTabContent class="nav-item">
          <div class="row">
            <div class="col-md-8">
              <app-view-audit
                [trustID]="trustID"
                [refresh]="Audit"
              ></app-view-audit>
            </div>
            <div class="col-md-4">
              <app-addaudit
                [trustID]="trustID"
                (reFresh)="refreshAudit()"
              ></app-addaudit>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Exam Certificate" class="nav-item" id="exam">
        <ng-template ngbTabContent class="nav-item">
          <div class="row">
            <div class="col-md-8">
              <app-view-exam-certificate
                [trustID]="trustID"
              ></app-view-exam-certificate>
            </div>
            <div class="col-md-4">
              <app-add-exam-certificate></app-add-exam-certificate>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Remainder" class="nav-item" id="reminder">
        <ng-template ngbTabContent class="nav-item"> ></ng-template>
      </ngb-tab>
      <ngb-tab title="IT Return" class="nav-item" id="it">
        <ng-template ngbTabContent class="nav-item">
          <div class="row">
            <div class="col-md-8">
              <!-- <app-test [trustID]="trustID"></app-test> -->
              <app-view-it-return [trustID]="trustID"></app-view-it-return>
            </div>
            <div class="col-md-4"><app-addreturn></app-addreturn></div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
<div class="card-disabled" *ngIf="isLoading">
  <div class="card-portlets-loader"></div>
</div>
