<form class="form-row" [formGroup]="auditForm" (ngSubmit)="onSubmit()">
  <div class="col-12">
    <div class="">
      <div class="card-body">
        <div class="form-group mb-3">
          <h4 class="header-title">Year *</h4>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Year"
            formControlName="FinYear"
            [ngClass]="{
              'is-invalid': submitted && f.FinYear.errors
            }"
          />
          <div *ngIf="submitted && f.FinYear.errors" class="invalid-feedback">
            <div *ngIf="f.FinYear.errors.required">Year is Required</div>
            <div *ngIf="f.FinYear.errors.pattern">
              Year Must be Valid And Only Alphanumeric Allowed
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <h4 class="header-title">Audit Date *</h4>
          <input
            type="date"
            class="form-control"
            placeholder="Enter Audit Date"
            formControlName="AuditDate"
            [ngClass]="{
              'is-invalid': submitted && f.AuditDate.errors
            }"
          />
          <div *ngIf="submitted && f.AuditDate.errors" class="invalid-feedback">
            <div *ngIf="f.AuditDate.errors.required">
              Audit Date is Required
            </div>
            <div *ngIf="f.AuditDate.errors.pattern">
              Audit Date Must be Valid And Only Alphanumeric Allowed
            </div>
          </div>
        </div>
        <!-- <div class="form-group mb-3">
          <h4 class="header-title">Name *</h4>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Name"
            formControlName="name"
            [ngClass]="{
              'is-invalid': submitted && f.name.errors
            }"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is Required</div>
            <div *ngIf="f.name.errors.pattern">
              Name Must be Valid And Only Alphanumeric Allowed
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <h4 class="header-title">Email *</h4>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid': submitted && f.email.errors
            }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is Required</div>
            <div *ngIf="f.email.errors.pattern">Email Must be Valid</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <h4 class="header-title">Mobile *</h4>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Mobile"
            formControlName="mobile"
            [ngClass]="{
              'is-invalid': submitted && f.mobile.errors
            }"
          />
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors.required">Mobile is Required</div>
            <div *ngIf="f.mobile.errors.pattern">
              Mobile Must be Valid And Only Numeric Allowed
            </div>
            <span
              *ngIf="f.mobile.errors.maxlength || f.mobile.errors.minlength"
            >
              Mobile Must be 10 Digit Only
            </span>
          </div>
        </div> -->
        <div class="form-group mb-3">
          <h4 class="header-title">Agenda Document Upload *</h4>
          <p class="text-muted font-13 m-b-30"></p>
          <!-- file upload -->
          <file-upload
            class="dropzone"
            multiple="false"
            isAnimationDisabled="true"
            listVisible="true"
            zoomText="zoomOut"
            #Files
            accept="image/gif,image/png,image/jpeg,application/pdf"
            type="file"
            maxsize="20mb"
            (ngModelChange)="onchange($event)"
            [ngClass]="{
              'is-invalid': submitted && f.uploadfile.errors
            }"
            formControlName="uploadfile"
          ></file-upload>
          <div
            *ngIf="submitted && f.uploadfile.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.uploadfile.errors.sizeRange">
              File size is exceed 20 Mb Limit
            </div>
            <div *ngIf="f.uploadfile.errors.required">Please Add file</div>
          </div>
        </div>

        <div class="form-group mb-3">
          <h4 class="header-title">File Name *</h4>
          <input
            class="form-control"
            id="example-input"
            placeholder="Enter File Name"
            formControlName="FileName"
            maxlength="25"
            [ngClass]="{
              'is-invalid': submitted && f.FileName.errors
            }"
          />
          <div *ngIf="submitted && f.FileName.errors" class="invalid-feedback">
            <div *ngIf="f.FileName.errors.required">File Name is Required</div>
            <div *ngIf="f.FileName.errors.pattern">
              Only alphanumeric characters allowed
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          <h4 class="header-title">File Description *</h4>

          <textarea
            class="form-control"
            id="example-textarea"
            rows="3"
            placeholder="Enter File Description"
            formControlName="Description"
            maxlength="55"
            [ngClass]="{
              'is-invalid': submitted && f.Description.errors
            }"
          ></textarea>
          <div
            *ngIf="submitted && f.Description.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.Description.errors.required">
              File Description is Required
            </div>
          </div>
        </div>
        <!-- <form
                    action="https://coderthemes.com/"
                    method="post"
                    class="dropzone dz-clickable"
                    id="myAwesomeDropzone"
                    data-plugin="dropzone"
                    data-previews-container="#file-previews"
                    data-upload-preview-template="#uploadPreviewTemplate"
                  >
                    <div
                      class="dz-message needsclick"
                      style="padding: 10px; text-align: center"
                    >
                      <i class="h1 text-muted dripicons-cloud-upload"></i>
                      <h3>Drop files here or click to upload Document.</h3>
                      <span class="text-muted font-13"
                        >(Files must be JPG, PDF or MP4 and Less than
                        <strong>2 MB</strong> in size.)</span
                      >
                    </div>
                  </form> -->

        <div class="mt-3">
          <button
            class="btn-primary btn-md btn-block btn waves-effect waves-light"
            type="submit"
            id="todo-btn-submit"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
