<div class="">
  <div *ngIf="data.Ownership">
    <div class="border-bottom">
      <h5 class="text-info">Ownership</h5>
    </div>
    <div *ngFor="let item of data.Ownership">
      <ng-container *ngIf="item.OwnerName">
        <div class="my-2">
          <b>OwnerName: </b>{{ item.OwnerName }}
          <br />
          <b>Since: </b>{{ item.SinceFrom | date }}
        </div>
      </ng-container>
    </div>

    <br />
    <div class="mb-3" *ngIf="data.PostalAddress">
      <ng-container>
        <div class="border-bottom">
          <h5 class="text-info">Location</h5>
        </div>
        <b class="text-muted">{{ data.PropertyName }}</b> <br />
        <b>{{ data.PostalAddress }}</b>
      </ng-container>
      <br />
    </div>

    <div *ngIf="data.InCharge">
      <div class="border-bottom">
        <h5 class="text-info">In Charge</h5>
      </div>
      <div *ngFor="let item of data.InCharge">
        <ng-container *ngIf="item.InChargeName">
          <div class="my-2">
            <b>InChargeName: </b> {{ item.InChargeName }}
            <br />
            <b>MobileNo: </b>{{ item.MobileNo }}<br />
            <b>Since: </b>{{ item.InChargeFromDate | date }}
            <br />
            <b>Email: </b>{{ item.Email }}
          </div>
        </ng-container>
      </div>
      <br />
    </div>

    <div class="mb-3" *ngIf="data.Description">
      <ng-container>
        <div class="border-bottom">
          <h5 class="text-info">Description</h5>
        </div>
        <b>{{ data.Description }}</b>
      </ng-container>
      <br />
    </div>

    <div class="mb-3" *ngIf="propertyType">
      <ng-container>
        <div class="border-bottom">
          <h5 class="text-info">Other Details</h5>
        </div>
        <b>{{ propertyType.PropertyType }}</b>
        <div style="width: 50%">
          <table>
            <tr *ngIf="data.BuildingName">
              <th>Building Name:</th>
              <td>:</td>
              <td>{{ data.BuildingName }}</td>
            </tr>
            <tr *ngIf="data.BuildingNo">
              <th>Building No:</th>
              <td>:</td>
              <td>{{ data.BuildingNo }}</td>
            </tr>
            <tr *ngIf="data.RevenewOfficeType">
              <th>Revenue Office Type</th>
              <td>:</td>
              <td>{{ data.RevenewOfficeType }}</td>
            </tr>
            <tr *ngIf="data.LandSize">
              <th>LandSize:</th>
              <td>:</td>
              <td>{{ data.LandSize }}</td>
            </tr>
            <tr *ngIf="data.WaterAvailability">
              <th>WaterAvailability:</th>
              <td>:</td>
              <td>{{ data.WaterAvailability }}</td>
            </tr>
            <tr *ngIf="data.StatusOfElectricity">
              <th>StatusOfElectricity:</th>
              <td>:</td>
              <td>{{ data.StatusOfElectricity }}</td>
            </tr>
            <tr *ngIf="data.AgeOfProperty">
              <th>AgeOfProperty:</th>
              <td>:</td>
              <td>{{ data.AgeOfProperty }}</td>
            </tr>
            <tr *ngIf="data.NoOfBHK">
              <th>NoOfBHK:</th>
              <td>:</td>
              <td>{{ data.NoOfBHK }}</td>
            </tr>
            <tr *ngIf="data.FurnishType">
              <th>FurnishType:</th>
              <td>:</td>
              <td>{{ data.FurnishType }}</td>
            </tr>
          </table>
        </div>
      </ng-container>
      <br />
    </div>

    <div>
      <ng-container>
        <div class="border-bottom">
          <h5 class="text-info">Govt. Record details</h5>
        </div>
        <div style="width: 50%">
          <table>
            <tr *ngIf="data.CitySurveyNo">
              <th>CitySurvey No</th>
              <td>:</td>
              <td>{{ data.CitySurveyNo }}</td>
            </tr>
            <tr *ngIf="data.CitySurveyOffice">
              <th>CitySurveyOffice</th>
              <td>:</td>
              <td>{{ data.CitySurveyOffice }}</td>
            </tr>
            <tr *ngIf="data.CityWardNo">
              <th>CityWardNo</th>
              <td>:</td>
              <td>{{ data.CityWardNo }}</td>
            </tr>
            <tr *ngIf="data.CityWardName">
              <th>CityWardName</th>
              <td>:</td>
              <td>{{ data.CityWardName }}</td>
            </tr>
            <tr *ngIf="data.SheetNumber">
              <th>SheetNumber</th>
              <td>:</td>
              <td>{{ data.SheetNumber }}</td>
            </tr>

            <tr *ngIf="data.SurveyNo">
              <th>Survey No</th>
              <td>:</td>
              <td>{{ data.SurveyNo }}</td>
            </tr>
            <tr *ngIf="data.TPNo">
              <th>TPNo</th>
              <td>:</td>
              <td>{{ data.TPNo }}</td>
            </tr>
            <tr *ngIf="data.FPNo">
              <th>FPNo</th>
              <td>:</td>
              <td>{{ data.FPNo }}</td>
            </tr>

            <tr *ngIf="data.milkatno_propId">
              <th>Milkat No(Property Id)</th>
              <td>:</td>
              <td>{{ data.milkatno_propId }}</td>
            </tr>
            <tr *ngIf="data.VillageName">
              <th>Village</th>
              <td>:</td>
              <td>{{ data.VillageName }}</td>
            </tr>
            <tr *ngIf="data.TalukaName">
              <th>Taluka</th>
              <td>:</td>
              <td>{{ data.TalukaName }}</td>
            </tr>
            <tr *ngIf="data.DistrictName">
              <th>District</th>
              <td>:</td>
              <td>{{ data.DistrictName }}</td>
            </tr>
            <tr *ngIf="data.StateName">
              <th>State</th>
              <td>:</td>
              <td>{{ data.StateName }}</td>
            </tr>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card-disabled" *ngIf="loading">
    <div class="card-portlets-loader"></div>
  </div>
</div>
<div class="my-3 border-top">
  <app-portlet
    title="Documents"
    headerClass="h4 header-title p-0"
    collapsed="0"
    loading="0"
    color="white"
  >
    <div class="float-right mb-3">
      <button
        class="btn btn-outline-info waves-effect waves-light"
        (click)="AddDocument()"
      >
        Add Document
      </button>
    </div>
    <div class="table-responsive">
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        style="width: 100%"
        class="table row-border hover thead-dark"
      ></table> </div
  ></app-portlet>
</div>
<ng-template #DocumentForm let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title">Add Document</h4>
    <button
      type="button"
      class="close"
      (click)="modal('Cross click')"
      aria-hidden="true"
    >
      <i class="mdi mdi-close"></i>
    </button>
  </div>
  <div class="modal-body p-4">
    <div class="container-fuild">
      <form [formGroup]="documentForm" (ngSubmit)="onSaveDocumnt()">
        <div class="container-fuild">
          <div class="row">
            <div class="col-lg-12 mb-3">
              <div class="header-title"> Document Tyoe * </div>
              <ng-select
                class="form-control"
                formControlName="PropertyDocumentTypeID"
                placeholder="
              Select Document Type"
                [ngClass]="{
                  'is-invalid': submited && a.PropertyDocumentTypeID.errors
                }"
              >
                <ng-option
                  *ngFor="let item of Documenttyprs"
                  [value]="item.PropertyDocumentTypeID"
                  [id]="item.PropertyDocumentTypeID"
                  >{{ item.PropertyDocumentType }}</ng-option
                >
              </ng-select>
            </div>
            <div class="col-lg-12 mb-2">
              <h4 class="header-title">File Upload *</h4>
              <!-- file upload -->
              <file-upload
                class="dropzone"
                multiple="false"
                isAnimationDisabled="true"
                listVisible="true"
                zoomText="zoomOut"
                #Files
                accept="image/gif,image/png,image/jpeg,application/pdf"
                type="file"
                maxsize="20mb"
                (ngModelChange)="onchange($event)"
                [ngClass]="{
                  'is-invalid': submited && a.uploadfile.errors
                }"
                formControlName="uploadfile"
              ></file-upload>
              <div
                *ngIf="submited && a.uploadfile.errors"
                class="invalid-feedback"
              >
                <div *ngIf="a.uploadfile.errors.sizeRange">
                  File size is exceed 20 Mb Limit
                </div>
                <div *ngIf="a.uploadfile.errors.required">Please Add file</div>
              </div>
            </div>

            <div class="col-md-12 mb-3">
              <h4 class="header-title">File Name *</h4>
              <input
                class="form-control"
                id="example-input"
                placeholder="Enter File Name"
                formControlName="FileName"
                maxlength="25"
                [ngClass]="{
                  'is-invalid': submited && a.FileName.errors
                }"
              />
              <div
                *ngIf="submited && a.FileName.errors"
                class="invalid-feedback"
              >
                <div *ngIf="a.FileName.errors.required">
                  File Name is Required
                </div>
                <div *ngIf="a.FileName.errors.pattern">
                  Only alphanumeric characters allowed
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-3">
              <h4 class="header-title">File Description *</h4>

              <textarea
                class="form-control"
                id="example-textarea"
                rows="3"
                placeholder="Enter File Description"
                formControlName="Description"
                maxlength="55"
                [ngClass]="{
                  'is-invalid': submited && a.Description.errors
                }"
              ></textarea>
              <div
                *ngIf="submited && a.Description.errors"
                class="invalid-feedback"
              >
                <div *ngIf="a.Description.errors.required">
                  File Description is Required
                </div>
              </div>
            </div>
          </div>
          <div class="card-disabled" *ngIf="Loading">
            <div class="card-portlets-loader"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary waves-effect"
      (click)="modal('Cross click')"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary waves-effect waves-light"
      (click)="onSaveDocumnt()"
    >
      Add
    </button>
  </div>
</ng-template>
