<div class="my-3">
  <app-portlet
    title="Properties"
    headerClass="h4 header-title p-0"
    collapsed="1"
    loading="0"
    color="white"
  >
    <div class="btn-group float-right mb-3">
      <button
        type="button"
        class="btn btn-outline-info waves-effect waves-light mr-1 dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="false"
        (click)="isdropdownShow = !isdropdownShow"
      >
        Add Property <i class="mdi mdi-chevron-down"></i>
      </button>
      <div class="dropdown-menu" [ngClass]="{ show: isdropdownShow }">
        <a style="cursor: pointer" class="dropdown-item" (click)="addProperty()"
          >Add New Property</a
        >
        <a class="dropdown-item" [routerLink]="['/trust/addexiting/' + trustID]"
          >Add form Existing</a
        >
      </div>
    </div>
    <div class="table-responsive">
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="table row-border hover table-centered mb-0"
        style="width: 100%"
      ></table></div
  ></app-portlet>
</div>

<ng-template #addPropertyForm let-modal="close">
  <div class="modal-header">
    <h4 class="modal-title">Add Property</h4>
    <button
      type="button"
      class="close"
      (click)="modal('Cross click')"
      aria-hidden="true"
    >
      <i class="mdi mdi-close"></i>
    </button>
  </div>
  <div class="modal-body p-4">
    <div class="container-fuild">
      <app-add-property
        (close)="modal('Cross click'); rerender()"
        [TrustID]="trustID"
      ></app-add-property>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary waves-effect"
      (click)="modal('Cross click')"
    >
      Close
    </button>
  </div>
</ng-template>
<div class="card-disabled" *ngIf="isLoading">
  <div class="card-portlets-loader"></div>
</div>
