<form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
  <div class="col-12">
    <div class="">
      <div class="card-body">
        <div class="form-group mb-3">
          <h4 class="header-title">Meeting Title *</h4>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Meeting Title"
            formControlName="MeetingTitle"
            [ngClass]="{
              'is-invalid': submitted && f.MeetingTitle.errors
            }"
          />
          <div
            *ngIf="submitted && f.MeetingTitle.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.MeetingTitle.errors.required">
              Meeting Title is Required
            </div>
            <div *ngIf="f.MeetingTitle.errors.pattern">
              Meeting Title Must be Valid And Only Alphanumeric Allowed
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <h4 class="header-title">Meeting Date Time *</h4>
          <input
            type="datetime-local"
            class="form-control"
            placeholder="Enter Meeting Date Time"
            formControlName="MeetingdateTime"
            min="{{ Date | date: 'yyyy-MM-ddTHH:mm' }}"
            [ngClass]="{
              'is-invalid': submitted && f.MeetingdateTime.errors
            }"
          />
          <div
            *ngIf="submitted && f.MeetingdateTime.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.MeetingdateTime.errors.required">
              Meeting Date Time is Required
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <h4 class="header-title">Venue *</h4>
          <input
            type="text"
            class="form-control"
            placeholder="Venue"
            formControlName="Enter Venue"
            [ngClass]="{
              'is-invalid': submitted && f.venue.errors
            }"
          />
          <div *ngIf="submitted && f.venue.errors" class="invalid-feedback">
            <div *ngIf="f.venue.errors.required">Venue is Required</div>
            <div *ngIf="f.venue.errors.pattern">
              Venue Must be Valid And Only Alphanumeric Allowed
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <h4 class="header-title">Agenda Document Upload *</h4>
          <p class="text-muted font-13 m-b-30"></p>
          <!-- file upload -->
          <file-upload
            class="dropzone"
            multiple="false"
            isAnimationDisabled="true"
            listVisible="true"
            zoomText="zoomOut"
            #Files
            accept="image/gif,image/png,image/jpeg,application/pdf"
            type="file"
            maxsize="20mb"
            (ngModelChange)="onchange($event)"
            [ngClass]="{
              'is-invalid': submitted && f.uploadfile.errors
            }"
            formControlName="uploadfile"
          ></file-upload>
          <div
            *ngIf="submitted && f.uploadfile.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.uploadfile.errors.sizeRange">
              File size is exceed 20 Mb Limit
            </div>
            <div *ngIf="f.uploadfile.errors.required">Please Add file</div>
          </div>
        </div>

        <div class="form-group mb-3">
          <h4 class="header-title">File Name *</h4>
          <input
            class="form-control"
            id="example-input"
            placeholder="Enter File Name"
            formControlName="FileName"
            maxlength="25"
            [ngClass]="{
              'is-invalid': submitted && f.FileName.errors
            }"
          />
          <div *ngIf="submitted && f.FileName.errors" class="invalid-feedback">
            <div *ngIf="f.FileName.errors.required">File Name is Required</div>
            <div *ngIf="f.FileName.errors.pattern">
              Only alphanumeric characters allowed
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          <h4 class="header-title">File Description *</h4>

          <textarea
            class="form-control"
            id="example-textarea"
            rows="3"
            placeholder="Enter File Description"
            formControlName="Description"
            maxlength="55"
            [ngClass]="{
              'is-invalid': submitted && f.Description.errors
            }"
          ></textarea>
          <div
            *ngIf="submitted && f.Description.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.Description.errors.required">
              File Description is Required
            </div>
          </div>
        </div>
        <!-- <form
          action="https://coderthemes.com/"
          method="post"
          class="dropzone dz-clickable"
          id="myAwesomeDropzone"
          data-plugin="dropzone"
          data-previews-container="#file-previews"
          data-upload-preview-template="#uploadPreviewTemplate"
        >
      
        </form> -->

        <div class="mt-3">
          <button
            class="btn-primary btn-md btn-block btn waves-effect waves-light"
            type="submit"
            id="todo-btn-submit"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="card-disabled" *ngIf="isLoading">
  <div class="card-portlets-loader"></div>
</div>
